clean_all.sh
build_all.sh
sync_all.sh

aclocal.m4
arm-oe-linux-gnueabi-libtool
autom4te.cache/
bindings/python/gpio.py
compile
config.guess
config.log
config.status
config.sub
config/autoconf
configure
depcomp
install-sh
*.deps/
*.libs
*Makefile
*Makefile.in
ltmain.sh
missing
test/gpio_test
test/spi_test
test/i2c_test
test/pwm_test
libtool
libsoc.pc
*.la
*.lo
*.o
*.pyc
*.swp
