clean_all.sh
build_all.sh
sync_all.sh

Makefile
Makefile.in
aclocal.m4
arm-oe-linux-gnueabi-libtool
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/libsoc.la
lib/libsoc_la-gpio.lo
lib/libsoc_la-gpio.o
ltmain.sh
missing
test/gpio_test
test/spi_test
test/i2c_test
test/pwm_test
libtool
libsoc.pc
*.lo
*.o
*.swp
